{% extends "main/base.html" %}
{% load static %} 


{% block title %}
Открытое занятие
{% endblock title %}


{% block content %}
<div class = "container mb-2">
    <div class = "container text-break border-bottom">
        <div>
        <h4>{{ lesson.lesson.title }}</h4>
        {{ lesson.lesson.lesson.html|safe }}
        {% if lesson.lesson.presentation_file %}<a href = "{{ lesson.lesson.presentation_file.url }}">Скачать презентацию</a>{% endif %}
        </div>
    </div>
    <div class = "container my-2 text-break">
        <form method = "post" class = "container" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Оставить комментарий к уроку</h4>
            <div class="mb-3">
                <label for="author" class="form-label">Автор</label>
                <input type="text" name = "comment_author" class="form-control" maxlength="50" id="author" placeholder="Автор комментария" required>
            </div>
            <div class="mb-3">
                <label for="com_text" class="form-label">Комментарий (макс. символов 500)</label>
                <textarea class="form-control" name = "comment_text" id="com_text" rows="3" maxlength="500" required></textarea>
            </div>
            <div class="col-auto">
                <button type="submit" name = "create_comment" class="btn btn-primary mb-3">Отправить комментарий</button>
            </div>
        </form> 
        <h4 class = "mt-5">Комментарии</h4>
        {% for comment in comments %}
        <div class = "border-bottom border-3 py-3">
            <h3>От: {{comment.author}}</h3>
            <p>{{comment.date}} </p>
            <p class = "bg-secondary text-light rounded-pill p-3 ms-5">{{comment.comment}}</p>
        </div>
        {% endfor %}
            
    </div>
</div>

<style lang="scss">
    .ql-align-right {
        text-align: right;
    }
    .ql-align-center {
        text-align: center;
    }
    .ql-align-left {
        text-align: left;
    }
    </style>
{% endblock content %}