{% extends "main/base.html" %}


{% block title %}
Открытое занятие
{% endblock title %}

{% block head_includes %}
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{% endblock head_includes %}

{% block content %}
<div class = "container mb-2">
    <div class = "container text-break border-bottom">
        <div>
        <h4>{{ lesson.lesson.title }}</h4>
        {{ lesson.lesson.lesson.html|safe }}
        {% if lesson.lesson.presentation_file %}<a href = "{{ lesson.lesson.presentation_file.url }}">Скачать презентацию</a>{% endif %}
        </div>
    </div>
    <div class = "container my-2 text-break">
        <form method = "post" class = "container" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Оставить комментарий к уроку</h4>
            <div class="mb-3">
                <label for="author" class="form-label">Автор</label>
                <input type="text" name = "comment_author" class="form-control" maxlength="50" id="author" placeholder="Автор комментария" required>
            </div>
            <div class="mb-3">
                <label for="com_text" class="form-label">Комментарий (макс. символов 500)</label>
                <textarea class="form-control" name = "comment_text" id="com_text" rows="3" maxlength="500" required></textarea>
            </div>
            <div class="col-auto">
                <button type="submit" name = "create_comment" class="btn btn-primary mb-3">Отправить комментарий</button>
            </div>
        </form> 
        <h4 class = "mt-5">Комментарии</h4>
        {% for comment in comments %}
        <div class = "border-bottom border-3 py-3">
            <h3>От: {{comment.author}}</h3>
            <p>{{comment.date}} </p>
            <p class = "bg-secondary text-light rounded-pill p-3 ms-5">{{comment.comment}}</p>
        </div>
        {% endfor %}
            
        <div id = "app"> 
            <ul>
                <div class="container mt-5 pt-5">
                    <div class="col-md-6 mx-auto">
            
                        
                            <h3>Опрос по материалу</h3>
                            <div v-for="question in questions">
                            <hr>
                            <p>[[question.question]]</p>
            
                        <div class="form-check" v-for="answer in question.answer">
                            <input @change="checkAnswer($event, question.uid)" :value="answer.answer" :name="answer.answer" class="form-check-input" type="radio"  id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                            [[answer.answer]]
                            </label>
                        </div>
                        
                    
                        </div> 
                        </div>
                    </div>
                <!-- <li v-for="task in tasks">[[task]]</li> -->
            </ul>
        </div>
        <script>
            const app = Vue.createApp({
                el: '#app',
                delimiters: ['[[', ']]'],
                data() {
                return {
                    lesson: '{{lesson.lesson.id}}',
                    questions :[]
                    }
                },
                methods : {
                    getQuestions(){
                        var _this = this
                        fetch(`/api/get-quiz/?lesson=${this.lesson}`)
                        .then(response => response.json())
                        .then(result =>{
                            console.log(result)
                            _this.questions = result.data
                        })
                    },
                    checkAnswer(event, uid){
        
                        this.questions.map(question =>{
                            answer = question.answer
                            for(var i=0; i<answer.length; i++){
                                if(answer[i].answer==event.target.value){
                                    if(answer[i].is_correct){
                                        console.log('Your answer is correct!')
                                        alert("Hurray ypur answer is correct !????")
                                    }else{
                                        console.log('Your answer is wrong!')
                                        alert("Better luck next time !????")
                                    }
                                }
                            }
        
                        })
                        console.log(event.target.value  , uid)
                    }
                },
                created() {
                    this.getQuestions( )
                 },
              });
              
              app.mount('#app')
          </script>
    </div>
</div>
{% endblock content %}