{% extends "main/base.html" %}
{% load static %} 


{% block title %}
  Главная
{% endblock title %}
  

{% block content %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Какой курс вас интересует?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3"> 
      {% for course in courses %}
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">{{ course.course }}</h3>
        <p>{{ course.description }}</p>
        <a href="lessons/{{ course.slug }}/0" class="icon-link">
          Перейти
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
    