{% extends 'main/base.html'%}
{% load static %}

{% block title %}
Создание записи
{% endblock %}


{% block content %}
<form method = "post" class = "container" enctype="multipart/form-data">
    <h4>Создание записи для</h4>
    {% csrf_token %}
    <select class="form-select" name = "course" aria-label="Default select example" value = "{{ courseid }}" required >    
        {% for course in courses %}
            <option value = "{{ course.id }}" {% if course.id == course_id %}selected{% endif %}>{{ course.course }}</option>
        {% endfor %}  
    </select><br>
    <p>Номер занятия:</p>
    <input class="form-control" name = "number" type="number" placeholder="Номер урока" aria-label="default input example" min = "1" max = "100" required ><br>
    <p>Название занятия:</p>
    <input class="form-control" name = "title" type="text" placeholder="Название занятия" aria-label="default input example" required ><br>
    <div class="mb-3">
        <p>Описание занятия:</p>
        <textarea class="form-control" name = "description" id="exampleFormControlTextarea1" rows="3" required ></textarea>
    </div><br>
    <div class="mb-3">
        <p>Презентация (если есть):</p>
        <input class="form-control" name = "presentation_file" type="file" id="formFile" accept = ".pdf, .doc, .docx, .jpg, .png, .xlsx, .xls">
    </div>
    <button type = "submit" class = "btn btn-success">Создать</button><br>
    <span>{{error}}</span>
</form>
{% endblock %}
