{% extends 'main/base.html'%}
{% load static %}

{% block title %}
Создание записи
{% endblock %}


{% block content %}
<form method = "post" class = "container" enctype="multipart/form-data">
    <h4>Создание записи для</h4>
        {% csrf_token %}
        {{ form.course }}<br>
        <p>Номер занятия:</p>
        {{ form.number }}<br>
        <p>Название занятия:</p>
        {{ form.title }}<br>
        <p>Краткое описание занятия:</p>
        {{ form.description }}<br>
        <p>Описание занятия:</p>
        {{ form.lesson }}<br>
        <p>Файл презентации (если есть):</p>
        {{ form.presentation_file }}<br>
        <button type = "submit" class = "btn btn-success">Изменить</button><br>
        <span>{{error}}</span> 
    </form> 
{% endblock %}
