{% extends 'main/base.html'%}
{% load static %}

{% block title %}
{{ course }}
{% endblock %}


{% block content %}
<div class = "container">
<h4>Доступные уроки дисциплины: {{ course }}</h4>
<a href="create/" class = "h3 mx-auto text-primary">Добавить урок</a>
{% if lessons.count > 0 %}
<table class="table mt-3">
    <thead class = "table-warning align-middle"><th>Номер урока</th><th>Название</th> <th>Редактирование</th></thead>
    {% for lesson in lessons %}
    <tr>
        <td>{{ lesson.number }}</td>
        <td>{{ lesson.title }}</td>
        <td>
            <a class = "" href="createlink/{{ lesson.id }}">Создать ссылку</a> | <a href="edit/{{ lesson.id }}">Изменить</a> | <a href="deletelesson/{{ lesson.id }}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if available_lessons.count > 0 %}
<table class="table mt-3">
    <thead class = "table-warning align-middle"><th>Номер доступного урока</th><th>Ссылка на урок</th><th>Пароль к уроку</th><th>Редактирование</th></thead>
    {% for lesson in available_lessons %}
    <tr>
        <td>{{ lesson.lesson.number }}</td>
        <td>{{ lesson.slug }}</td>
        <td>{{ lesson.password }}</td>
        <td>
            <a href="deletelink/{{ lesson.id }}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
{% endif %}        
</table>
</div>
{% endblock %}
