{% extends "main/base.html" %}


{% block content %}
<form class = "container"  method = "POST" action = "{% url 'login' %}">
    {% csrf_token %}
<div class="mb-3">
    <label for="username" class="form-label">Логин</label>
    <input name = "username" type="text" class="form-control">
    </div>
<div class="mb-3">
    <label for="password" class="form-label">Пароль</label>
    <input name = "password" type="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
{% endblock content %}